*{
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    background-color: mediumvioletred;
    grid-template-columns: 35px 1fr 60px;
    height: 50px;
    align-items: center;
    padding: 0 25px;
    border-radius: 2px;
    font-family: Roboto;
}

header img{
    width: 18px;
}

button{
    width: 70px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Roboto;
}

body{
    display: grid;
}

main{
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
}

#menu-left{
    display: grid;
    background-color: #f2d0e0;
    padding: 15px;
    line-height: 35px;
}

nav img{
    width: 18px;
}

.bolos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

section img{
    width: 200px;
}

.bolo-1{
    box-shadow: darkgray;
}

footer{
    display: grid;
    background-color: mediumvioletred;
    height: 40px;
    align-items: center;
    text-align: center;
    border-radius: 2px;
}