/***
    *
    *             GERAL
    *
    ***/


* {
    margin: 0;
    padding: 0;
}

header{
    margin: 10px;
    padding: 40px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
}


.logo, img{
    width: 80px;
    display:inline;
}

.galery{
    float: right;
    font: 19px Roboto;
    text-decoration: rgb(51, 41, 192);
    padding: 7px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: background .3s;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:rgb(51, 41, 192);
}

.contact{
    float: right;
    font: 19px Roboto;
    text-decoration: rgb(51, 41, 192);
    padding: 7px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: background .3s;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:rgb(51, 41, 192);
}

.home{
    float: right;
    font: 19px Roboto;
    text-decoration: rgb(51, 41, 192);
    padding: 7px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: background .3s;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:rgb(51, 41, 192);
}

.text-footer{
    font: 20px Roboto;
    display: block;
    text-align: center;
}

.medias-footer img{
    margin-bottom: 30px;
    margin-top: 50px;
    width: 50px;
    margin-left: 50px;
    text-align: center;
}



/***
    *
    *               INDEX
    *
    ***/

.title-and-sub h1, h2{
    padding: 7px 15px;
    margin-right: 10px;
    text-align: center;
}

.title-and-sub h1{
    font: 50px Roboto;
    font-weight: bolder;
}

.title-and-sub h2{
    font: 30px Roboto;
    font-style: italic;
}

.titles-index img{
    margin-top: 80px;
    margin-inline: 510px;
    border-radius: 200px;
    width: 270px;
}

.paragraph-index h2{
    margin-top: 80px;
    margin-bottom: 100px;
    font: 25px Roboto;
    text-align: center;
    margin-inline: 250px;
    line-height: 40px;
}


/***
    *
    *               EXPERIÊNCIAS
    *
    ***/

.title-and-sub h1, h2{
    padding: 7px 15px;
    margin-right: 10px;
    text-align: center;
}

.title-and-sub h1{
    font: 50px Roboto;
    font-weight: bolder;
}

.title-and-sub h2{
    font: 30px Roboto;
    font-style: italic;
}

.titles-index img{
    margin-top: 80px;
    margin-inline: 510px;
    border-radius: 200px;
    width: 270px;
}

.paragraph-index h2{
    margin-top: 80px;
    margin-bottom: 100px;
    font: 25px Roboto;
    text-align: center;
    margin-inline: 250px;
    line-height: 40px;
}

